.dropdown-trigger {
  .dropdown-icon {
    transition: transform 0.3s ease;
  }
  &.active {
    .dropdown-icon {
      transform: rotate(180deg);
    }
  }
}

.hero-section {
  @media screen and (max-width: 576px) {
    height: calc(var(--vh, 1vh) * 100 - var(--promo-height));
  }
}
