@use "tailwindcss";

@use "node_modules/plyr/dist/plyr.css";
@use "node_modules/aos/dist/aos.css";
@use "node_modules/img-comparison-slider/dist/styles.css";
@use "node_modules/keen-slider/keen-slider.min.css";

@use "sass:color";
@use "./utilities";

@use "./variables";

@use "./libs/comparsion-slider";
@use "libs/plyr-video-player";

@use "./custom-styles";
@use "./components/components";

@font-face {
  font-family: "Riviera Nights";
  src:
    url("/assets/fonts/rivera/RivieraNights-Light-WebXL.woff2") format("woff2"),
    url("/assets/fonts/rivera/RivieraNights-Light-WebXL.woff") format("woff"),
    url("/assets/fonts/rivera/RivieraNights-Light-WebXL.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Riviera Nights";
  src: url("/assets/fonts/rivera/RivieraNights-Regular-WebXL.woff2") format("woff2"),
          url("/assets/fonts/rivera/RivieraNights-Regular-WebXL.woff") format("woff"),
          url("/assets/fonts/rivera/RivieraNights-Regular-WebXL.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Riviera Nights";
  src:
    url("/assets/fonts/rivera/RivieraNights-Bold-WebXL.woff2") format("woff2"),
    url("/assets/fonts/rivera/RivieraNights-Bold-WebXL.woff") format("woff"),
    url("/assets/fonts/rivera/RivieraNights-Bold-WebXL.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#site-loader {
  transition: opacity 0.5s ease;
}

.opacity-0 {
  opacity: 0;
}

.family-zero {
  font-family: sans-serif;
}
