@use "tailwindcss";

@use "node_modules/plyr/dist/plyr.css";
@use "node_modules/aos/dist/aos.css";
@use "node_modules/img-comparison-slider/dist/styles.css";
@use "node_modules/keen-slider/keen-slider.min.css";

@use "sass:color";
@use "./utilities";

@use "./variables";

@use "./libs/comparsion-slider";
@use "libs/plyr-video-player";

@use "./custom-styles";
@use "./components/components";

@font-face {
  font-family: "Riviera Nights";
  src:
    url("/assets/fonts/rivera/RivieraNights-Light-WebTrial.woff2")
      format("woff2"),
    url("/assets/fonts/rivera/RivieraNights-Light-WebTrial.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Riviera Nights";
  src: url("/assets/fonts/rivera/RivieraNights-Regular-WebTrial.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Riviera Nights";
  src:
    url("/assets/fonts/rivera/RivieraNights-Bold-WebTrial.woff2")
      format("woff2"),
    url("/assets/fonts/rivera/RivieraNights-Bold-WebTrial.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Alt One MT';
  src: local('Gill Alt One MT Light'), local('GillAltOneMT-Light'),
  url('/assets/fonts/gill-alt-one-mt/GillAltOneMT-Light.woff2') format('woff2'),
  url('/assets/fonts/gill-alt-one-mt/GillAltOneMT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Alt One MT';
  src: local('Gill Alt One MT'), local('GillAltOneMT'),
  url('/assets/fonts/gill-alt-one-mt/GillAltOneMT.woff2') format('woff2'),
  url('/assets/fonts/gill-alt-one-mt/GillAltOneMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#site-loader {
  transition: opacity 0.5s ease;
}

.opacity-0 {
  opacity: 0;
}

.family-zero {
  font-family: sans-serif;
}
